

/* .main-content {
  height: calc(100vh - 56px);
  overflow-y: auto;
} */

/* .sidebar-wrapper {
  height: calc(100vh - 56px);
  margin-top: 56px;
  overflow-y: auto;
} */

/* .sidebar-wrapper {
  height: 100vh;
  overflow-y: auto;
} */
.nav-link {
  border-radius: 6px;
  margin-bottom: 5px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


